<div class="min-h-full flex flex-col">
  <div>
    <ul class="flex gap-4 list-none p-0 m-0">
      <li>
        <button class="p-button-1">Plantillas</button>
      </li>
      <li>
        <button class="p-button-2">Temas</button>
      </li>
      <li>
        <button class="p-button-3">Slider</button>
      </li>
      <li>
        <button class="p-button-4">Pie de página</button>
      </li>
    </ul>
  </div>
  <div class="back-color rounded-md p-3 mt-4 flex-1 h-0 overflow-auto">
    <p>aaa</p>
    <p>bbb</p>
    <p>ccc</p>
    <p>ddd</p>
    <p>eee</p>
    <p>aaa</p>
    <p>bbb</p>
    <p>ccc</p>
    <p>ddd</p>
    <p>eee</p>
    <p>aaa</p>
    <p>bbb</p>
    <p>aaa</p>
    <p>bbb</p>
    <p>ccc</p>
    <p>ddd</p>
  </div>
</div>
